<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="parentCtrl">
    总价格 <input type="text" ng-model="total">
    <div ng-controller="childCtrl">
        商品名称 {{name}}<br>
        商品价格 {{price}}<br>
        商品数量 <input type="text" ng-model="count"><br>
    </div>
</div>
<script src="lib/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    //$on $emit $broadcast
    //控制器不能复用，控制器间要交互数据，要通过事件的方式
    app.controller('parentCtrl',function ($scope) {
        $scope.total = 10;
        $scope.$on('我要改变数量了请接受',function (event,data) {
          $scope.total = data;
        });
    });
    app.controller('childCtrl',function ($scope) {
        $scope.price = 10;
        $scope.count = 1;
        $scope.name = '飞机';
        $scope.$on('我要改变数量了请接受',function (event,data) {
            console.log(data);
        });
        $scope.$watch('count',function (newVal) {
            $scope.$emit('我要改变数量了请接受', newVal*$scope.price);//emit向上发射并且自己也知道
        });
    })
</script>
</body>
</html>